@model AcunMedyaAkademiPortfolio.Models.TblHobby


@{
    ViewBag.Title = "UpdateHobby";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h4>Hobi Güncelleme Sayfası</h4>
<br />

@using (Html.BeginForm("UpdateHobby", "Hobby", FormMethod.Post))
{

    <div>

        @Html.LabelFor(a => a.HobbyId)
        @Html.TextBoxFor(a => a.HobbyId, new { @class = "form-control", @readonly = "readonly" })

        <br />
        @Html.LabelFor(a => a.IconUrl)
        @Html.TextBoxFor(a => a.IconUrl, new { @class = "form-control" })

        <br />
        @Html.LabelFor(a => a.Title)
        @Html.TextBoxFor(a => a.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.Title, "", new { @class = "text-danger" })
        @*Model, Validation kurallarına göre belirlenen hata mesajlarını görüntülemek için kullanılır.*@

    </div>

    <br />
    <button class="btn btn-outline-primary">Hobiyi Güncelle</button>

}

