@model List<AcunMedyaAkademiPortfolio.Models.TblTestimonial>


@{
    ViewBag.Title = "TestimonialList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3>Referanslar</h3>


<table class="table table-bordered table-hover">


    <thead>

        <tr>
            <th scope="col">Id</th>
            <th>Name</th>
            <th>Title</th>
            <th>Description</th>
            <th>Image URL</th>
            <th>Operations</th>
           


        </tr>

    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>

                <td><b>@item.TestimonialId</b></td>
                <td>@item.TestimonialName</td>
                <td>@item.TestimonialTitle</td>
                <td>@item.TestimonialDescription</td>
                <td align="center">

                    @if (!string.IsNullOrWhiteSpace(item.TestimonialImageUrl))
                    {
                        <img src="@item.TestimonialImageUrl" alt="Testimonial Image" class="img-thumbnail" style="width:120px" />

                    }

                </td>
                <td align="center">
                    <a href="/Testimonial/UpdateTestimonial/@item.TestimonialId" class="btn btn-outline-info btn-sm">Güncelle</a>
                    @*httpGet başlıklı UpdateTestimonial actionResult'a üzerinde bulunduğun verinin Id değerini gönder*@
                    &nbsp <br />
                    <a href="/Testimonial/DeleteTestimonial/@item.TestimonialId" class="btn btn-outline-danger btn-sm">Sil</a>
                    @*Testimonial controller'daki DeletrTestimonial actionResult'a git, o sırada silmek istediğin verinin(üzerinde bulunduğun) id'sini de götür*@
                </td>



            </tr>
        }

    </tbody>


</table>

<a href="/Testimonial/CreateTestimonial" class="btn btn-success">Yeni Referans Ekle</a>
@*TestimonialController'daki HttpGet başlıklı CreateTestimonial actionResult'a gidecek. Orada da sadece return View() işlemi var.
    Bu sayede bu butona tıklandığında yeni referans ekleme sayfam açılacak.
*@



